.movie__details__container {
    .cast__card {
        margin: 1rem 0;
        .card-text {
            width: 15rem;
            padding: 1rem 0; 
        }
    }
    .movies__cast__cotainer, .jumbotron  {
        width: 69rem;
        margin: auto;
        text-align: center;
    }
}