.card__container {
    align-items: center;
    justify-content: center;
    display: flex;
    .card { 
        display: flex; 
        width: 69rem;
        flex-direction: row;
        margin: 1rem 0;
    }
    .card-img {
        width: 18rem;
    }
}