@import "~bootstrap/scss/bootstrap";


.App {
    // background: #E5E5E5;
    a { 
        color: #000;
        text-decoration: none;
        cursor: pointer;
     }

     // search box style 
     div.css-g1d714-ValueContainer {
        padding: .5rem 1rem;
     }
}


